{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<section>
  <div>
    <h2>{{ album.title }}
    <h4><i>Artist: {{ album.artist }}</i></h4>
    <p>Genre: {{album.genres}}</p>
    <p>Release Date: {{ album.release_date }}</p>
    <div>
        <a href="{% url 'album-update' album.id %}"> Edit </a>
        <a href="{% url 'album-delete' album.id %}"> Delete </a>
    </div>
  </div>
</section>

{% comment %} ******************************** Song Form ************************************* {% endcomment %}
<div class="song-container">
  <section class="song">
    <div class="subsection-title">
      <h2>Songs</h2>
    </div>

    <h3>Add a Song</h3>
    <form 
      action="{% url 'add-song' album.id %}" 
      method="POST" 
      class="subsection-content" 
      autocomplete="off"
      >
      {% csrf_token %} 
      {{ song_form.as_p }}
      <button type="submit" class="btn submit">Add Song</button>
    </form>

{% comment %} ******************************** Song detail ************************************* {% endcomment %}   
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
    {% for song in album.song_set.all %}
      <tr>
        <td>
          ★ <a href="{% url 'song-detail' song.id %}">{{ song.title }}</a>
        </td>
        <td>{{ song.release_date }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  
  {% endblock %}