{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<section>
  <div>
    <h2>{{ album.title }}
    <h4><i>Artist: {{ album.artist }}</i></h4>
    <p>Genre: {{album.genres}}</p>
    <p>Release Date: {{ album.release_date }}</p>
    <div>
        <a href="{% url 'album-update' album.id %}"> Edit </a>
        <a href="{% url 'album-delete' album.id %}"> Delete </a>
    </div>
  </div>
</section>

<div class="song-container">
  <section class="song">
    <div class="subsection-title">
      <h2>Songs</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Release Date</th>
          <th>Release Country</th>
          <th>Mood</th>
          <th>Lyrics</th>
        </tr>
      </thead>
      <tbody>
        {% for song in album.song_set.all %}
          <tr>
            <td>{{ song.title }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
  
  {% endblock %}