{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/albums/album_index.css' %}" />

<section>
  <h1>Your Collection: </h1>
</section>

<section>
  {% for album in albums %}
    <div>
      <div>
        <a href="{% url 'album-detail' album.id%}">
          <h2>{{ album.title }} </h2>
        </a>
        <h4><i>Artist: {{ album.artist }}</i></h4>
        <p>Genre: {{album.genres}}</p>
        <p>Release Date: {{ album.release_date }}</p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}