section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
    justify-content: center;
}
div{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.div-container{
    border:1px solid #120018;
    height: 500px;
    width: 550px;
    background-color: white;
    
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 0 auto;
    display:flex;
    justify-content: center;
    font-size: 3rem;
    color: black;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content: center;
    font-size: 20px;
    color: black;
}
.p-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content: center;
    font-size: 20px;
    color: black;
    margin:0;

}

form{
    display: flex;
    justify-content: center;

}
a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: all 300ms ease;
    width: 8rem;
    border-radius: 2rem;
    font-size: 1rem;
    border-radius: 1rem; 
    height: 20px;
}

button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.warning-img{
    display:flex;
    justify-self: center;
    width: 200px;
    height: 200px;

}
.btn-1:hover{
    background-color: #5dade2;
    cursor: pointer;
     background-color: #3498db;
}
a:hover{
    color:white;
}
.btn-2:hover{
   background-color: #E34234;
   cursor: pointer;
   color: white;
}

hr{
    opacity: 50%;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
/* queries for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    section {
        margin: 0 5rem; 
    }

    .div-container {
        width: 80%; 
    }

    h2 {
        font-size: 2.5rem; 

    p, .p-text {
        font-size: 18px; 
    }

    a, button {
        padding: 1rem;
        width: 9rem;
        font-size: 1rem;
    }

    .warning-img {
        width: 200px;
        height: 200px;
    }
   }
}

/* queries for phones */
@media (max-width: 767px) {
    section {
        margin: 0 1rem; 
    }

    .div-container {
        width: 90%; 
    }

    h2 {
        font-size: 2rem; 
    }

    p, .p-text {
        font-size: 16px; 
    }

    a, button {
        padding: 0.75rem;
        width: 7rem;
        font-size: 0.875rem;
    }

    .warning-img {
        width: 150px;
        height: 150px;
    }
}
