
{% extends 'base.html' %} 
{% block content %}  
<h1>AlbumTrackr</h1>
<hr />
<p>All of your favorite albums 🎵</p>
{% if not user.is_authenticated %}
<a href="{% url 'login' %}" 
style="display: inline-block; padding: 10px 20px; font-size: 16px; font-weight: bold; color: white; background-color: #9400D3; border: none; border-radius: 5px; text-decoration: none; text-align: center; transition: background-color 0.3s;" 
onmouseover="this.style.backgroundColor='#662d91'" 
onmouseout="this.style.backgroundColor='#9400D3'">
Login
</a>
{% endif %}
  
  {% endblock %}
  
