{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/sign_up.css' %}" />
{% endblock %} 
{% block content %}

<section>
  {% if error_message %}
    <p class="red-text">{{ error_message }}</p>
  {% endif %}
  <form action="" method="post" class="form-container" autocomplete="off">
    <h1>Sign Up</h1>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
  </form>
  <p >
    By continuing you agree to AlbumTrackr's Terms and Privacy Policy.
  </p>
  <p style="color: white; opacity: 1; text-align: center; margin-top: 7px;">
    Already have an account? 
    <a href="{% url 'login' %}" style="color: white; text-decoration: underline;">Log in</a>
</p>

</section>
{% endblock %}