html {
    box-sizing: border-box;
    
  }

  /* *, 
  *::before,
  *::after {
    box-sizing: inherit;
  } */
/* 
  :root {
    font-size: 62.5%;
  } */

body {
    background-color: #120018;
    color: white;
    display: flex;
    flex-direction: column;
    
}