.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #120018;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 35px;
    font-size: 15px;
}
