/* General form styling */
section {
    background-color: #120018;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px
}

form.login {
    background: linear-gradient(135deg, #080717, #25122e, #24243e);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid rgb(28, 5, 40);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(159, 24, 243, 0.991);
  box-shadow: -1px 5px 19px -5px rgba(142, 14, 154, 0.811);
}

form.login h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(222, 107, 235, 0.8), 0 0 15px rgba(0, 255, 255, 0.6);
    font-size: 2rem;
    margin-bottom: 20px;
}

form.login p {
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: rgb(252, 246, 250);

}

button.btn.submit {
    background-color: #a831d0;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-top: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
    text-shadow: 0 0 5px #ffffff;
}

button.btn.submit:hover {
    color: white;
    background: linear-gradient(135deg, #390119, #a10ca3, #9b0041); /* Neon pink & purple, with dark edges */
    box-shadow: 0 0 15px #ca3486, 0 0 30px #9b0041, 0 0 45px #9b0041; /* Intense neon glow */
    transform: scale(1.05);
    font-weight: 600; /* Make text bold */
    text-shadow: 0 0 10px #ca3486, 0 0 20px #9b0041, 0 0 30px #9b0041; 
   /* Neon glow effect on the text */
}

.privacy-message {
    padding-top: 15px;
}

.account {
    padding-top: 0px;
}

