

nav ul {
   
    list-style: none; /* Removes bullets */
    padding: 20px 0px; 
    margin: 0; /* Removes default margin */
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    margin: 0;
    padding: 0;
    position: relative; 
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 18px;
    transition: all 0.1s ease-in-out; /* Smooth transition */
    display: inline-block;
}

nav ul li a:hover {
    background: linear-gradient(#120018, #e66465, #120018);
    border-radius: 30px;
    transform: translateY(-2px); /* Moves element UP */
    /* box-shadow: 0px 5px 10px rgba(230, 100, 101, 0.5); Moves the link up slightly */
}

/* ------------------- Logout Button ---------------------- */
#logout-form {
    margin: 0;
    padding: 0;
    display: inline; /* Ensure form doesn't take extra space */
}

.logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Smooth effect */
    display: inline-block; /* Allows transform */
}

/* --- Hover Effect for Logout --- */
.logout-button:hover {
    background: linear-gradient(#120018, #e66465, #120018);
    border-radius: 30px;
    transform: translateY(-2px); /* Moves button UP */
    /* box-shadow: 0px 5px 10px rgba(230, 100, 101, 0.5); Adds glow */
}

/* nav ul li a:hover, .logout-button:hover {
    box-shadow: 0 5px 15px rgba(230, 100, 101, 0.5); /* Soft glow */
