nav ul {
    list-style: none; 
    padding: 20px 0px; 
    margin: 0; 
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    margin: 0;
    padding: 0;
    position: relative; 
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 18px;
    transition: all 0.1s ease-in-out; 
    display: inline-block;
}

nav ul li a:hover {
    background: linear-gradient(#120018, #e66465, #120018);
    border-radius: 30px;
    transform: translateY(-2px); 
}


#logout-form {
    margin: 0;
    padding: 0;
    display: inline; 
}

.logout-button {
    background-color: #120018; ;
    border:#120018;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
    display: inline-block; 
}

.logout-button:hover {
    background: linear-gradient(#120018, #e66465, #120018);
    border-radius: 30px;
    transform: translateY(-2px); 
}
