
{% extends 'base.html' %} 
{% load static %} 
{% block content %}


<div class="song-detail">    
    <h1>🎵 {{ song.title }}</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Release Country</th>
            <th>Mood</th>
            <th>Lyrics</th>
        </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.release_date }}</td>
            <td>{{ song.release_country }}</td>
            <td>{{ song.mood }}</td>
            <td>{{ song.lyrics }}</td>
            <td><a href="{% url 'song-update' song.id %}">Edit</a></td>
            <td><a href="{% url 'song-delete' song.id %}">Delete</a></td>
            </tr>
        </tbody>
        </table>
        <br>
        <a href="{% url 'album-detail' song.album.id %}" class="btn">Back to Album</a>
    </div>

{% endblock %}