
{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="song-detail">    
    <h1>🎵 {{ song.title }}</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Release Country</th>
            <th>Mood</th>

        </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.release_date }}</td>
            <td>{{ song.release_country }}</td>
            <td>{{ song.mood }}</td>
            <td><a href="{% url 'song-update' song.id %}">Edit</a></td>
            <td><a href="{% url 'song-delete' song.id %}">Delete</a></td>
            </tr>
        </tbody>
        </table>
{% comment %} ******************************************************************* {% endcomment %}
        {% if youtube_url %}
            <h2>Watch on YouTube</h2>
            <iframe width="560" height="315" src="{{ youtube_url }}" frameborder="0" allowfullscreen></iframe>
            <script>
            document.addEventListener("DOMContentLoaded", function () {
                var iframe = document.getElementById("yt-video");

                iframe.onerror = function () {
                    window.location.href = "{{ youtube_url|slice:'30:' }}";
                };
            });
            </script>

            <p><a href="https://www.youtube.com/watch?v={{ youtube_url|slice:'30:' }}" target="_blank">
                Click here if video does not play
            </a></p>
        {% else %}
            <p>No video found.</p>
        {% endif %}
{% comment %} ******************************************************************* {% endcomment %}
        <h2>Lyrics</h2>
            {% if lyrics %}
                <details>
                    <summary>Show Lyrics</summary>
                    <pre>{{ lyrics }}</pre>  
                </details>
            {% else %}
                <p>Lyrics not found.</p>
            {% endif %}

        <br>
        <a href="{% url 'album-detail' song.album.id %}" class="btn">Back to Album</a>
    </div>

{% endblock %}