<nav>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'album-index'%}">All Albums</a></li>
      <li><a href="{% url 'album-create'%}">Add Album</a></li>
      <li>
        <form id="logout-form" method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="logout-button">Logout</button>
        </form>
      </li>

      {% else %}
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </nav> 